<div style="text-align: center;">
    {{if gt .Offset 0}}
    <a href="?offset={{.PrevOffset}}{{if .Query}}&q={{.Query}}{{end}}">Prev</a>
    {{else}}
    Prev 
    {{end}} |
    {{if lt .NextOffset .TotalResults}}
    <a href="?offset={{.NextOffset}}{{if .Query}}&q={{.Query}}{{end}}">Next</a>
    {{else}}
    Next
    {{end}}
</div>