{{template "header.tmpl" .}}

    <h2>Search Results: {{.Data.TotalResults}} gifs</h2>

    {{range .Data.Gifs}}
        <div style="width: 300px; background-color: #222; text-align: center; padding: 10px; margin: 5px; border: 1px solid #555; float: left;">
            <a href="/gifs/{{.ID}}"><img src="/gif/{{.ID}}.gif" style="max-width: 200px; max-height: 200px;"></a>
            <p>{{.Caption}}</p>
        </div>
    {{end}}

    <div style="clear: both;"></div>


{{template "footer.tmpl" .}}
