    {{range . }}
        <div style="height: 300px; width: 250px; background-color: #222; text-align: center; padding: 10px; margin: 5px; border: 1px solid #555; float: left;">
            <a href="/gifs/{{.ID}}"><img src="/gif/{{.ID}}.gif" style="max-width: 200px; max-height: 200px;"></a>
            <p>{{.Caption}}</p>
        </div>
    {{end}}
    <div style="clear: both;">
